* {
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    background-color: red;
}
.nav-list {
    display: flex;
    list-style-type: none;
    margin-right: 2rem;
}
.nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
    color: #fff;
    text-decoration: none;
}
.nav-list a:hover{
    background: #45567d;
}
#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(33deg, #535658 0%, #0d0e1b 100%);
    color: #ffffff;
    }
figure img {
    width: 15rem;
}

h1 {
    font-size: 5rem;
}
