:root {
    margin: 0;
    box-sizing: border-box;
}

.mainContainer {
    display: flex;
    padding: 4rem;

}

header, footer {
    display: flex;
    justify-content: center;
    font-size: larger;
    background-color: rgb(0, 0, 0);
    font-size: 1.75rem;
    color: white;
    text-decoration: underline;
}

.box {
    text-align: center;
}

a {
    text-decoration: none;
    font-size: large;
}

li {
    list-style-type: none;
    color: rgb(255, 208, 0);
}
img {
position: relative;
z-index: 1;
    border: 1.5rem double rgb(255, 0, 0);

}