* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemonGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.scene {
    width: 220px;
    height: 285px;
    margin: 10px;
    perspective: 600px;
  
  }

  .card {
      width: 100%;
      height: 100%;
      transition: transform 680ms;
      transform-style: preserve-3d;
      cursor: pointer;
      position: relative;
  }

  .card__face {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
    border: 10px solid rgb(32, 14, 110);
    
}

.card__face--front {
background: rgb(73, 38, 230);
color: white;
font: 2rem 'Bangers', cursive, sans-serif;
}

.card__face--back {
background: rgb(32, 14, 110);
transform: rotateY(180deg);
}

  .card.is-flipped {
      transform: rotateY(180deg);
  }

img { 
padding-bottom: 20px;
}
