* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
 html {
    background-color: lightslategray;
    height: 100%;
 }
 h1 {
    font: 4rem 'Luckiest Guy', cursive, sans-serif;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 4px rgb(0, 0, 0); 
    margin: 20px;
 }
button {
    padding: 1em;
    font-size: 1.2rem;
    margin-bottom: 40px;
    border-radius: 20px;
    color: white;
    background-color: rgb(33, 19, 223);
}
button:hover {
    background-color: rgb(221, 18, 18);
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemonGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.scene {
    width: 250px;
    height: 360px;
    margin: 10px;
    perspective: 600px;
  }

.card {
    width: 100%;
    height: 100%;
    transition: transform 680ms;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    
  }

.card__face {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
    border: 8px solid rgb(2247, 206, 5);  
    box-shadow: 2px 2px 8px rgb(0, 0, 0);
}

.card__face--front {
    padding-top: 20px;
    background: #31b0eb;
    font: 2.5rem 'Bangers', cursive, sans-serif;
}

.card__face--front > h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;  
    letter-spacing: .1rem;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: .5px rgb(0, 0, 0);
}

.card__face--front p {
    font: 1.2rem 'Luckiest Guy', cursive, sans-serif;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px rgb(0, 0, 0); 
}

.card__face--back {
    background: rgb(32, 14, 110);
    transform: rotateY(180deg);
    font: 1.2rem 'Luckiest Guy', cursive, sans-serif;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.card.is-flipped {
    transform: rotateY(180deg);
  }

img { 
    width: 200px;
    height: 200px;
    background: radial-gradient(#08c5f5, #0c1474);
    border: 2mm ridge rgb(226, 176, 11);
}
